<?xml version="1.0" encoding="UTF-8"?>
<!-- 下午20:21:03 Author:WangChengHao -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.mybatis.project.dao.UserMapper">

    <insert id="addUser" parameterType="com.jason.mybatis.project.model.UserModel">
        insert into sbi_user
        (id, user_Id, user_name, age, phone, email, dept_id, status, conment, create_time, create_user)
        values
        (sys_guid(), #{userId}, #{userName}, #{age}, #{phone}, #{email}, #{deptId}, #{status}, #{comment}, sysdate, #{createUser})
    </insert>
</mapper>